<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="container p-5 teamContainer">
  <div class="row mb-4">
    <div class="col-lg-5">
      <h2 class="display-4 text-center text-uppercase">Our team</h2>
    </div>
  </div>

  <div class="row text-center">
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4 teamCard">
        <img
          src="https://media.licdn.com/dms/image/D4E35AQG8P_1dZ9Axvg/profile-framedphoto-shrink_800_800/0/1663065165822?e=1674050400&v=beta&t=mrNwBNZ52-0p-5l1Ew_HgJDlBIUDQbNiltBQzsGf-1M"
          alt=""
          width="150"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0 text-black">Mykhailo Kononenko</h5>
        <span class="small text-uppercase text-muted">Team Lead</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="https://github.com/SMARTcla" class="social-link"
              ><i class="fa fa-github" style="font-size: 32px"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/mykhailo-kononenko/"
              class="social-link"
              ><i class="fa fa-linkedin" style="font-size: 32px"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End-->

    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4 teamCard">
        <img
          src="https://trello-members.s3.amazonaws.com/62629bf29f2ad27c4ff251c4/1af86839369b085905ef0ff82df2c8a5/original.png"
          alt=""
          width="150"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0 text-black">Vadym Kuzyk</h5>
        <span class="small text-uppercase text-muted">Backend</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="https://github.com/KuVadym" class="social-link"
              ><i class="fa fa-github" style="font-size: 32px"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/vadym-kuzyk-468395250/"
              class="social-link"
              ><i class="fa fa-linkedin" style="font-size: 32px"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End-->

    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4 teamCard">
        <img
          src="https://trello-members.s3.amazonaws.com/631a20da47692c0189aec123/afcc3bdeaff41f08587071dda4c642f2/original.png"
          alt=""
          width="150"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0 text-black">Susanna Salata</h5>
        <span class="small text-uppercase text-muted">Scrum Master</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="https://github.com/Susanna-Salata" class="social-link"
              ><i class="fa fa-github" style="font-size: 32px"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/susanna-salata/"
              class="social-link"
              ><i class="fa fa-linkedin" style="font-size: 32px"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End-->

    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4 teamCard">
        <img
          src="https://trello-members.s3.amazonaws.com/631b3fe0aee89e044c3b543d/5043240bfe1c2684380bc29aae017da8/original.png"
          alt=""
          width="150"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0 text-black">Vladyslav Shumkov</h5>
        <span class="small text-uppercase text-muted">Frontend</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="https://github.com/IiIymik" class="social-link"
              ><i class="fa fa-github" style="font-size: 32px"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/vladyslav-shumkov/"
              class="social-link"
              ><i class="fa fa-linkedin" style="font-size: 32px"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End-->
  </div>
</div>
